/.idea/

/.metadata/
target/
.gitignore
/backend/bin/
/backend/target/
/backend/.settings/
/backend/.classpath
/backend/.project
/backend/.factorypath
/backend/logs/


/frontend/.angular/
/frontend/node_modules/
/frontend/.vscode/
