# Ignore everything not needed for Maven build layer
.git
.gitignore
**/.DS_Store
.target/
node_modules/
frontend/
# Let Maven rebuild target itself; no need to send local target
/target
# IDE
.idea/
.vscode/
